#particles{
  position: fixed;
  width: 100%;
  height: 100%;
  /* background-color: rgb(8, 6, 17); */
  background-color: rgb(25, 28, 68);
  left: 0px;
  top: 0px;
  pointer-events: all;
}
body {

  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}
.context{
  z-index: 999;
  margin-bottom: 5%;
  bottom: 0;
  max-width: 600px;
  
}

img {
  border-radius: 50%;
}


.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  height: auto;
  max-width: 100px;
}

.profile-name {
    text-align: center;
    padding: 30px;
    margin: auto;
}

.links {
  
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 27px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 1s; 
}

.bottom-text {
  text-align: center;
  margin-top: 40px;
  font-size: 15px;
  color: #fff;
  /*font-weight: bold;*/
}

a:hover{
  text-decoration: none;
}

.links:hover {
  color: black;
  background: #fff;
  text-decoration: none;
}

::-webkit-scrollbar {
  background-color:#fff;
    width:7px
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 3px;
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(175, 111, 235);
    border-radius:16px;
    border:2px solid #fff
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(175, 111, 235);
    border:1px solid rgb(175, 111, 235);
}
